<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bugsir.easywebview">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application >
        <activity android:name=".EasyWebActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
    </application>
</manifest>
